.sectionArea {
    width: 100%;
}

.sectionTitle {
    display: flex;
    align-items: center;
    height: 20rem;
    background: var(--sub-color);
}

.sectionBody {
    margin: 0 auto;
    padding: 2rem 0;
    width: 60rem;
    max-width: calc(100% - 2rem);
    min-height: 20rem;
}

.sectionTitleText {
    margin: 1rem;
    font-family: 'Rajdhani', serif;
    font-size: 5rem;
}