.sectionArea {
    width: 100%;
}

.sectionTitle {
    display: flex;
    align-items: center;
    height: 16rem;
}

.sectionBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    min-height: 20rem;
    box-sizing: border-box;
}

.sectionTitleText {
    margin: 1rem;
    font-family: 'Rajdhani', serif;
    font-size: 4rem;
}

@media screen and (max-width: 360px) {
    .sectionBody {
        padding: 1rem;
    }
}