.sectionArea {
    width: 100%;
}

.sectionTitle {
    display: flex;
    align-items: center;
    height: 20rem;
    background: var(--sub-color);
}

.sectionBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem auto;
    width: 60rem;
    max-width: calc(100% - 4rem);
    min-height: 20rem;
}

@media screen and (max-width: 360px) {
    .sectionBody {
        max-width: calc(100% - 2rem);
    }
}

.sectionTitleText {
    margin: 1rem;
    font-family: 'Rajdhani', serif;
    font-size: 5rem;
}