:root {
    --header-height: 3rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    top: 0;
    background-color: var(--main-color);
    color: #ffffff;
    overflow: visible;
    font-family: 'Rajdhani', serif;
    transition: all 500ms ease-out;
    z-index: 1;
}

.header.closed {
    height: 0;
    overflow: hidden;
}

.titleText {
    margin: 0;
    padding-left: 1rem;
    height: var(--header-height);
    line-height: var(--header-height);
    font-family: 'Rajdhani', serif;
    font-size: 2rem;
}

.navigatorButton {
    display: inline;
}

@media screen and (max-width: 480px) {
    .header {
        flex-direction: column;
    }

    .titleText {
        padding-left: 0;
    }

    .navigatorButton {
        display: block;
        position: absolute;
        width: var(--header-height);
        height: var(--header-height);
        right: 0;
    }

    .navigatorButtonBar {
        background-color: #ffffff;
        margin: auto;
        margin-bottom: calc(0.5rem - 0.125rem);
        width: 1.25rem;
        height: 0.125rem;
    }

    .navigatorButtonBar:first-child {
        margin-top: 0.875rem;
    }
}