:root {
  --header-height: 4rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: var(--header-height);
  top: 0;
  background-color: var(--main-color);
  color: #fff;
  overflow: visible;
  font-family: 'Rajdhani', serif;
  transition: all 500ms ease-out;
  z-index: 1;
}

.header.closed {
  height: 0;
  overflow: hidden;
}

.titleText {
  margin: 0;
  padding-left: 1rem;
  height: var(--header-height);
  line-height: var(--header-height);
  font-family: 'Rajdhani', serif;
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
  }

  .titleText {
    padding-left: 0;
  }
}
