:root {
    --backPlus: 0.5rem;
}

.squareViewPage {
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    white-space: normal;
}

.squareMenuTop {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.squareViewFrame {
    display: inline-block;
    width: 12rem;
    padding: 1rem;
}

.squareViewItem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 12rem;
    height: 12rem;
    background-position-y: 4rem;
    background-repeat: no-repeat;
}

.squareViewItemImage {
    position: absolute;
    width: 12rem;
    height: 6rem;
    top: 1rem;
    object-fit: contain;
}

.squareViewItemBackground {
    position: absolute;
    width: 12rem;
    bottom: 0;
}

.squareViewTextArea {
    position: relative;
    margin-top: 0.5rem;
    text-align: center;
}

.squareViewText {
    margin: 0 0.5rem;
}

@media screen and (max-width: 480px) {
    .squareViewPage {
        white-space: nowrap;
    }
}