.navButton {
  display: none;
}

@media screen and (max-width: 480px) {
  .navButton {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 1rem;
    width: var(--header-height);
    height: var(--header-height);
    right: 0;
    box-sizing: border-box;
  }

  .navButtonBar {
    background-color: #fff;
    margin: auto;
    width: 1.5rem;
    height: 0.125rem;
  }
}
