:root {
    --backPlus: 0.5rem;
}

.squareMenuTop {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.squareMenuFrame {
    display: inline-block;
    width: 12rem;
    padding: 1rem;
}

@media screen and (max-width: 480px) {
    .squareMenuPage {
        white-space: nowrap;
    }
}