.effectiveBlock {
  width: 100%;
}

.effectiveBlockMaskingLayer {
  overflow: hidden;
  max-width: 0;
  transition: max-width 500ms ease-in;
}

.effectiveBlockMaskingLayer.visible {
  max-width: 100%;
}
