@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Rajdhani');

:root {
    --main-color: #202020;
    --sub-color: #B0B0B0;
    --back-color: #ffffff;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
}

.reactTop {
    min-height: 1vh;
    font-size: 16px;
    margin: 0;
}

.main {
}

.title {
    margin: auto;
    padding-top: 4rem;
    width: 100%;
    height: 28rem;
    background-image: url('./images/title.svg');
    background-size: 8rem;
}

.aboutMeSectionTitle {
    background-color: #ffffff;
    background-image: url('./images/aboutMeSectionTop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutMeSectionBody {
    background-color: #d0eaa8;
}

.worksSectionTitle {
    background-color: var(--sub-color);
    background-image: url('./images/worksSectionTop.svg');
}

.worksSectionTitle span {
    background-color: var(--sub-color);
}

.worksSectionBody {
    background-color: #43d0f7;
    text-align: center;
}

.linksSectionTitle {
    background-color: var(--main-color);
    background-image: url('./images/linksSectionTop.svg');
    background-size: 16rem;
}

.linksSectionTitle span {
    color: #ffffff;
    background-color: var(--main-color);
}

.linksSectionBody {
    background-color: #fff1ae;
}

@media screen and (max-width: 360px) {
    body * {
        font-size: 12px;
    }
}