@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Rajdhani');

:root {
    --main-color: #202020;
    --sub-color: #B0B0B0;
    --back-color: #ffffff;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
}

.react_top { /**/
    min-height: 1vh;
    font-size: 16px;
    margin: 0;
}

.main {
    /*padding-top: 4rem;*/
}

.title {
    margin: auto;
    padding-top: 4rem;
    width: 100%;
    height: 28rem;
    background: #ffffff;
}

.about_me_section_area {
    background: #ffe4c4;
}

.works_section_area {
    background: #43d0f7;
    text-align: center;
}

.links_section_area {
    background: #fff1ae;
}